a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
    text-decoration: none !important;
}

.top{
    display: flex;
   
    margin: 0;
    padding: 0;
}


.top .image img{
    width: 100%;
}

.top .content{
    margin-left: 40px;
    width: 80%;
    padding: 3rem;
    background: white;
}

.top .content h2{
    padding: 10px;
    width: fit-content;
    font-size: 3rem;
    color: var(--black);
    background: rgb(255, 149, 0);
}

.top .content h3{
    padding-bottom: 30px;
    font-size: 2rem;
    color: var(--black);
}

.top .content p{
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 2;
    color: var(--black);
}


.top label{
    font-size: 20px;
}

.detail-content {
    display: flex;
    align-items: center;
}

.detail-content .content-wrapper {
    display: flex;
    align-items: center;
}

.detail-content img {
    width: 400px; 
    margin-right: 20px; 
}

.detail tr td p{
    font-size: 20px;
    white-space: normal;
    word-break: break-word; 
    text-transform: none;
}

















.table{
    margin: 0 !important; 
    padding: 70px;
    padding-top: 100px;
    padding-bottom: 0px;
}

.table p{
    font-size: 20px;
}

.table label{
    font-size: 20px;
}

.detail tr td{
    font-size: 20px;
    width: 150px; /* Set the width of the <td> */
    white-space: nowrap; /* Prevent content from wrapping */
    overflow: hidden; /* Hide any content that overflows the fixed width */
    text-overflow: ellipsis; /* Display an ellipsis (...) to indicate overflow */
}

.table h1{
    font-size: 50px;
    text-align: center;
}

.row{
    padding-top: 90px;
}

a.btn{
    width: 150px;
    display: block;
    text-align: center;
    margin: 0 auto;
    background: var(--black);
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 0px;
}

a.btn:hover{
    background: var(--main-color);
}
















/* header css start */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --main-color:
}
:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
    --footer-color:rgb(38, 38, 46);

}
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}


section{
    padding: 5rem 10%;
}

.header{
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;

}
.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .navbar a{
    text-decoration: none;
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--main-color); 
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}





/* header css end */




/* footer css start */

.footer{
    background: url(https://cdn.pixabay.com/photo/2018/12/18/22/29/background-3883181_1280.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    gap: 3rem;
}
.footer .box-container .box{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}
.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .slogan{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid --light-white;
    font-size: 2rem;
    color:  var(--white);
}
.footer .slogan span{
    color: var(--main-color);

}


/* footer css end */


@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .home .slide .content h3{
        font-size: 10vw;
    }
     body{
        display: block;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }

    body{
        display: block;
    }

    .table {
        margin: 0 !important;
        padding: 2rem;
        padding-top: 4rem; 
        padding-bottom: 0px;
        overflow-x: auto; 
    }
    
    .table h1 {
        font-size: 3rem; 
        text-align: center;
    }
    
    .table p,
    .table label,
    .detail tr td {
        font-size: 10px;
        width: 400px; /* Set the width of the <td> */
    white-space: nowrap; /* Prevent content from wrapping */
    overflow: hidden; /* Hide any content that overflows the fixed width */
    text-overflow: ellipsis; /* Display an ellipsis (...) to indicate overflow */
    }


    .detail-content img{
        width: 300px;
        margin-bottom: 20px;
    }

    .detail-content .content-wrapper{
        display: block;
    }
    

  

    .detail tr td p{
        font-size: 10px;
        white-space: normal; /* Allow the content to wrap */
    word-break: break-word;
    }
    

    
    .row {
        padding-top: 3rem; 
    }
    
    a.btn {
        width: 120px;
        font-size: 1.4rem;
        padding: 0.8rem;
        margin-bottom: 3rem; 
    }

    

    .top {
        display: block;
        text-align: center; 
    }

    .top .image img {
        width: 100%; 
        height: auto; 
    }

    .top .content {
        padding: 1rem; 
    }

 
    .top h2 {
        font-size: 3rem;
    }

    .top h3, .top p, .top label {
        font-size: 2rem;
    }

    .top p, .top label {
        margin: 0.5rem 0;
    }

}

@media (max-width:450px){
    body{
        display: block;
        font-size: 50%;
    }

    .heading-title{
        font-size: 3.5rem;
    }

    

}